$green:#05960d;
$green-video:#29b667;

$orange:#fbb600;
$orange-hover:#ffcc66;
$orange-readmore:#fbb600;
$orange-tag:#ff9e01;

$white-text-footer:#a4a4a4;
$black-text-footer:#4e4f4f;

$gray-text:#666666;
$gray-bg-card:#f3f3f3;
$gray-line:#d3d3d3;
$gray-bg-tag:#dedede;
$gray-search:#d2d2d2;
$gray-comment:#cccccc;
$gray-content-result-1:#e7e6e6;
$gray-content-result-2:#f2f2f2;

$gray-bullet-1:#eeeeee;
$gray-bullet-2:#ddd;
$gray-bullet-4:#cbcbcb;
$gray-bullet-4:#bababa;

$black-footer:#2a2a2a;
$fb-c:#4662b2;
$twitter-c:#058ab7;
$youtube-c:#e22114;
$path-c:#ca2027;
$instagram-c:#71594e;
$gplus-c:#dbdbdb;
$wordpress-c:#207098;